@import "fonts.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: Roboto-Thin, sans-serif, serif;
    letter-spacing: 5px;
    background-color: #E5E5E5;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:hover,
a:active {
    color: #9D8665;
}

p, ul, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

nav ul a {
    color: #FFFFFF;
}

h2 {
    font-size: 80px;
    font-weight: 100;
    font-family: Forum-Regular, sans-serif, serif;
    text-transform: uppercase;
}

h3 {
    margin-top: 19px;
    font-size: 32px;
    font-weight: 100;
    font-family: Forum-Regular, sans-serif, serif;
    text-transform: uppercase;
}

.backgroundBlack {
    background-color: #030303;
}

header {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 83px 0 83px 240px;
    color: #FFFFFF;
}

.logo {
    display: flex;
}

.logo img {
    height: 26px;
    margin-right: 21px;
}

.louvre {
    margin-right: 525px;
    padding-top: 2px;
    font-size: 28px;
    font-family: Forum-Regular, sans-serif, serif;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    margin-top: 3px;
    letter-spacing: 2px;
}

header nav ul li {
    padding-right: 76px;
}

.welcome {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 240px;
    color: #FFFFFF;
}

.welcome form {
    margin-top: 117px;
    position: absolute;
    z-index: 1;
}

.welcome h2 {
    width: 598px;
}

.welcome form p {
    margin-top: 28px;
    letter-spacing: 2.1px;
    font-size: 28px;
}

.welcome button {
    margin-top: 75px;
    padding: 24px 67px;
    font-size: 22px;
    font-family: Roboto-Thin, sans-serif, serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    background-color: #710707;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
}

.welcome button:hover {
    background-color: #9D8665;
}

.welcome img {
    width: 1195px;
    height: 750px;
    margin: 0 0 0 auto;
}

.visiting {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 200px;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: -20px;
    margin-bottom: 33px;
}

.card a {
    color: #000000;
}

.card a:hover {
    color: #9D8665;
}

.visiting h2 {
    margin-top: 76px;
    margin-left: 40px;
    color: #9D8665;
}

.visiting h2:after {
    content: '';
    display: block;
    position: relative;
    top: 27px;
    margin-bottom: 80px;
    width: 1480px;
    height: 3px;
    background: #710707;
}

.visiting h3:after {
    content: '';
    display: block;
    position: relative;
    top: 9px;
    margin-bottom: 80px;
    width: 300px;
    height: 2px;
    background: #710707;
    transition-property: width;
    transition-duration: 1s;
}

.visiting figure:hover h3:after {
    content: '';
    display: block;
    position: relative;
    top: 9px;
    margin-bottom: 80px;
    width: 440px;
    height: 2px;
    background: #710707;

}

.visiting figcaption h3 {
    margin-bottom: -61px;
}

.visiting p {
    margin-bottom: 8px;
    letter-spacing: 0;
}

.visiting .panorama {
    font-size: 18px;
}

.explore {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 75px;
    padding-left: 240px;
    color: #FFFFFF;
    background-color: #030303;
}

.explore h2 {
    margin-top: 75px;
    padding-bottom: 22px;
}

.explore h2:after {
    content: '';
    display: block;
    position: relative;
    top: 26px;
    margin-bottom: 80px;
    width: 660px;
    height: 3px;
    background: #710707;
}

.explore p {
    margin-bottom: 26px;
    padding-right: 40px;
    letter-spacing: 0.2px;
    line-height: 38.5px;
}

.explore p span {
    color: #CAAA7D;
}

.explore div {
    width: 700px;
    padding-right: 20px;
}

.explore img {
    margin-top: 90px;
}

.video {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 240px;
}

.video img {
    margin-top: 90px;
}

.video .tools {
    position: relative;
    height: 85px;
    width: 1440px;
    margin-top: -6px;
    background-color: #030303;
}

.video .tools .playOnScreen {
    position: absolute;
    bottom: 290px;
    left: 610px;
    height: 220px;
    width: 220px;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}

.video .tools .back {
    position: absolute;
    bottom: 28px;
    left: 41px;
    height: 30px;
    width: 27px;
    background-color: transparent;
    border: none;
}

.video .tools svg {
    margin-top: -3px;
    margin-left: -8px;
}

.video .tools .playOnScreen svg {
    margin-top: -3px;
    margin-left: -7px;
}

.video .tools .play {
    position: absolute;
    bottom: 28px;
    left: 109px;
    height: 30px;
    width: 23px;
    background-color: transparent;
    border: none;
}

.video .tools .forward {
    position: absolute;
    bottom: 28px;
    left: 172px;
    height: 30px;
    width: 27px;
    background-color: transparent;
    border: none;
}

.video .tools .forward svg {
    transform: rotate(180deg);
}

.video .tools .volume {
    position: absolute;
    bottom: 28px;
    left: 1102px;
    height: 30px;
    width: 38px;
    background-color: transparent;
    border: none;
}

.video .tools .resize {
    position: absolute;
    bottom: 25px;
    left: 1363px;
    height: 36px;
    width: 36px;
    background-color: transparent;
    border: none;
}

.video .tools button svg path {
    transition-property: fill;
    transition-duration: 0.5s;
}

.video .tools button:hover {
    cursor: pointer;
}

.video .tools button:hover svg path {
    fill: #989898;
}

.videoProgress {
    position: absolute;
    bottom: 37px;
    left: 239px;
    width: 820px;
    height: 8px;
}

.videoVolume {
    position: absolute;
    bottom: 37px;
    left: 1158px;
    width: 155px;
    height: 8px;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #C4C4C4;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #24809E;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #FFFFFF;
    box-shadow: -820px 0 0 820px #24809E;
    border-radius: 50%;
}

input[type="range"]::-moz-range-progress {
    background-color: #24809E;
}

input[type="range"]::-moz-range-track {
    background-color: #C4C4C4;
}

input[type="range"]::-ms-fill-lower {
    background-color: #24809E;
}

input[type="range"]::-ms-fill-upper {
    background-color: #C4C4C4;
}

.video .videoDescription {
    display: flex;
    width: 1440px;
    margin-top: 40px;
}

.video h2 {
    width: 1125px;
    color: #9D8665;
}

.video p {
    margin-top: 5px;
    letter-spacing: 0.1px;
    line-height: 39.5px;
    margin-left: 59px;
}

.tickets {
    max-width: 1920px;
    margin: 75px auto 0 auto;
    padding-top: 1px;
    padding-left: 240px;
    color: #FFFFFF;
    background-color: #030303;
}

.tickets h2 {
    margin-top: 76px;
    padding-bottom: 22px;
}

.tickets h2:after {
    content: '';
    display: block;
    position: relative;
    top: 26px;
    margin-bottom: 80px;
    width: 1440px;
    height: 3px;
    background: #710707;
}

.tickets img {
    margin-bottom: 74px;
}

.ticketsOrder {
    display: flex;
}

.ticketsOrder h4 {
    margin-top: -1px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.radioBtns h4 {
    margin-bottom: 49px;
}

.ticketsOrder .radioBtns {
    margin-left: 60px;
    margin-right: 264px;
}

.radioBtns label {
    letter-spacing: 0px;
}

.radioBtns div {
    margin-bottom: 47px;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 41px;
    line-height: 21px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #FFFFFF;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:checked + label:after {
    opacity: 1;
}

.amount .amountHeader {
    margin-bottom: 10px;
    margin-left: 52px;
    letter-spacing: 0.2px;
}

.amount .basicTickets {
    margin-top: 10px;
}

.amount .seniorTickets {
    margin-top: 35px;
}

.amount label {
    letter-spacing: 0px;
}


.amount .change {
    display: flex;
    height: 45px;
    width: 145px;
    margin-top: 14px;
    justify-content: space-between;
    border: 2px solid #FFFFFF;
}

.change input,
.change button {
    width: 33.33%;
    text-align: center;
    color: #FFFFFF;
    font-size: 22px;
    letter-spacing: 0px;
    border: transparent;
    background-color: transparent;
}

.change button {
    transition-property: color;
    transition-duration: 0.5s;
}

.change button:hover {
    color: #9D8665;
}


.change .changeValue {
    font-size: 35px;
    cursor: pointer;
}

.amount input {
    -moz-appearance: textfield;
}

.amount input::-webkit-inner-spin-button {
    display: none;
}

.amount .total {
    margin-top: 50px;
    letter-spacing: 2.1px;
}

.amount button[type="submit"] {
    width: 175px;
    height: 50px;
    margin-top: 50px;
    margin-left: -25px;
    font-size: 22px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: capitalize;
    border: transparent;
    background-color: #FFFFFF;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
}

.amount button[type="submit"]:hover {
    background-color: #9D8665;
}

.contacts {
    max-width: 1920px;
    margin: 0 auto 75px auto;
    padding-left: 240px;
}

.contacts h2 {
    margin-top: 76px;
    padding-bottom: 22px;
}

.contacts h2:after {
    content: '';
    display: block;
    position: relative;
    top: 26px;
    margin-bottom: 80px;
    width: 1440px;
    height: 3px;
    background: #710707;
}

.contactsData {
    font-family: Roboto-Regular, sans-serif, serif;
    letter-spacing: 0;
}

.contactsData {
    display: flex;
    margin-top: 10px;
    font-weight: 600;
}

.contactsData p {
    font-size: 28px;
    font-weight: 600;
}

.contactsData ul {
    margin-top: 35px;
}

.contactsData ul li {
    margin-top: 18px;
}

.contactsData ul li a {
    margin-left: -4px;
    color: #000000;
    transition-property: color;
    transition-duration: 0.25s;
}

.contactsData ul li a:hover,
.contactsData ul li a:active {
    color: #9D8665;
}

.contactsData img {
    margin-top: -11px;
    margin-left: 198px;
}

footer {
    display: flex;
    max-width: 1920px;
    margin: 75px auto 0 auto;
    padding-bottom: 61px;
    padding-left: 240px;
    color: #FFFFFF;
    background-color: #030303;
}

footer .logo,
footer nav,
footer .social {
    margin-top: 83px;
}

footer nav {
    padding-top: 3px;
}

footer .louvre {
    margin-top: 0px;
    margin-right: 145px;
}

footer nav {
    margin-right: 362px;
}

footer nav ul {
    display: flex;
    width: 402px;
    flex-wrap: wrap;
    letter-spacing: 2px;
}

footer nav ul li {
    width: 142px;
    margin-bottom: 25px;
}

footer nav ul li:nth-child(odd) {
    flex-grow: 1;
}

footer nav ul li:nth-child(5),
footer nav ul li:nth-child(6) {
    margin-top: -4px;
}

footer .social {
    display: flex;
    margin-top: 162px;
}

footer .social li {
    margin-right: 24px;
}

.social a svg path {
    cursor: pointer;
    transition-property: fill;
    transition-duration: 0.5s;
}

.social a svg rect {
    cursor: pointer;
    transition-property: stroke;
    transition-duration: 0.5s;
}

.social a:hover svg path {
    fill: #9D8665;
}

.social a:hover svg g rect {
    stroke: #9D8665;
}