@font-face {
    font-family: 'Banty-Bold';
    src: url("../assets/fonts/Banty-Bold.ttf");
}
@font-face {
    font-family: 'VarelaRound-Regular';
    src: url("../assets/fonts/VarelaRound-Regular.ttf");
}